* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("https://images.unsplash.com/photo-1495900593237-22dc861b231d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  background-repeat: no-repeat;
}

/* .logo 
  width: 150px; 
  height: 150px; 
  background-image: url("ressources/Blue\ \(1\).png"); /* Remplacez "chemin_vers_le_logo.png" par le chemin relatif de votre logo 
 */

.logo {
  color: lightseagreen;
  top: 5px;
  left: 10px;
  width: 150px; 
  height: 150px;
  background-image: url("ressources/Blue\ \(1\).png"); 
}


ul {
  float: right;
  display: flex;
  list-style: none;
  
}
.list-nav  {
 : 20px;

}
ul li a {
  text-decoration: none;
  color: rgba(69, 122, 166, 0.827);
  padding: 10px 20px;
  text-transform: uppercase;
  border: 2px solid transparent;
  margin: 20px 10px 0 0;
  font-weight: 900;
  transition: 0.6s ease;
  background-color: #fff;
}

ul li a:hover {
  background-color: lightblue;
  color: #fff;
}

ul li.active a {
  background-color: floralwhite;
  color: #000;
}

.principale {
  max-width: 114rem;
  margin: 0 auto;
}

.titre {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%); /* Corrigez la valeur de translation */
}

.titre h1 {
  color: black;
  font-size: 50px;
  top: 50%;
  left: 80%;
  background-color: lightseagreen;
}

.item {
  opacity: 1;
  cursor: pointer;
  background-color: red;
  border: 5px solid purple;
  border-radius: 8px;
  margin: 20px;
  padding: 30px;
  color: white;
  font-size: 35px;
  text-align: center;
  width: 15rem;
  height: 10rem; /* Corrigez la valeur de la hauteur */
}

.item:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Ratio d'aspect 16:9 pour une vidéo */
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 80%;
  width: 100%;
  height: 100%;
}


.text {
  overflow: scroll;
  width: 100%;
  max-width: 300px;
  height: 400px;
  border: 5px solid black;
  background-color: lightblue;
  margin: 20px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: -30%;
  top:50%;
  font-family: sans-serif; /* Ajoutez une police de caractères */
}

  
